* { margin: 0px; padding: 0px; }
footer,main,header,article,section,aside,nav,footer,div{
  display: block;
  font-family: arial;
}

a{ text-decoration: none; }

body{
  background-color: black;
  margin: 0 auto;
  color: white;
}

.result{
  margin-left: 185px;
  margin-top: 30px;
}

.buttons{
  width: 120px;
  height: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  background-color: #36c159;
  color: white;
  font-weight: bold;

}